{% extends "base.html" %}

 {% block title %}Page not found{% endblock title %}

 {% block content %}
 	<style>
 	.error_404{
 		padding-top: 150px;
 	}
 	</style>
 <div class="container error_404">
     <div class="jumbotron">
         <h1 class="text-center">404 Not Found<p> </p><p><small class="text-center"> brokee dokee</small></p></h1>
         <p class="text-center">Try pressing the back button or clicking on this button.</p>
         <p class="text-center"><a class="btn btn-dark btn-lg active" href="{% url 'index' %}"><i class="fa fa-home"></i> Take Me Home</a></p>
     </div>
 </div>
 {% endblock content %}
