{% extends 'base.html' %}

{% block title %} Latest Rates {% endblock title %}

{% block content %}
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">created</th>
      <th scope="col">source</th>
      <th scope="col">amount</th>
      <th scope="col">type</th>
      <th scope="col">currency</th>
    </tr>
  </thead>
  <tbody>
  {% for rate in object_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ rate.id }}</td>
      <td>{{ rate.created }}</td>
      <td>{{ rate.get_source_display|title }}</td>
      <td>{{ rate.amount }}</td>
      <td>{{ rate.get_type_display|upper }}</td>
      <td>{{ rate.get_currency_type_display }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}

