{% extends 'base.html' %}

{% block title %} Table Rates {% endblock title %}

{% block content %}
  <a href="{% url 'rate:download-csv' %}">Download rates csv</a>
  <a href="{% url 'rate:download-xlsx' %}">download rates xlsx</a>
    <table class="table table-dark">
  <thead>
    <tr>
 			<th scope="col">#</th>
 			<th scope="col">id</th>
 			<th scope="col">Date</th>
 			<th scope="col">Rate</th>
 			<th scope="col">Source</th>
 			<th scope="col">Currency</th>
 			<th scope="col">Rate type</th>
 			{% if user.is_superuser %}
 				<th scope="col">Edit</th>
 				<th scope="col">Delete</th>
 			{% endif %}
 		</tr>
 		</thead>

 		<tbody>
 			{% for rate in object_list %}
 				<tr>
 					<th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
 					<td>{{ rate.id }}</td>
 					<td>{{  rate.created }}</td>
 					<td>{{  rate.rate }}</td>
 					<td>{{ rate.get_source_display }}</td>
 					<td>{{ rate.get_currency_type_display }}</td>
 					<td>{{ rate.get_rate_type_display }}</td>
 					{% if user.is_superuser %}
 						<td><a class="btn btn-dark" href="{% url 'rate:edit' pk=rate.id %}">Edit</a></td>
 						<td><a class="btn btn-dark" href="{% url 'rate:delete' pk=rate.id %}">Delete</a></td>
 					{% endif %}
 				</tr>
 			{% endfor %}
 	</tbody>
 	</table>
 	<ul class="pagination">
 	<li class="pagination">
         {% if page_obj.has_previous %}
             <li class="page-item"><a href="?page=1" class="page-link">&laquo; first</a></li>
 			<li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a></li>
         {% endif %}

         <span class="current">
             Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
         </span>
      {% if page_obj.has_next %}
 			<li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">next</a></li>
 			<li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a></li>
      {% endif %}
 	</ul>
{% endblock content %}

