{% load active_tab %}


<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item {{ request.path|active:'index' }}">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
          </li>

            <li class="nav-item {{ request.path|active:'rate:list' }}">
                <a class="nav-link" href="{% url 'rate:list' %}">Rates</a>
            </li>

            <li class="nav-item {{ request.path|active:'rate:latest-rates' }}">
                <a class="nav-link" href="{% url 'rate:latest-rates' %}">Latest Rates</a>
            </li>

          {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link" href="#">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
          </li>
        </ul>
      </div>
</nav>